/* .blacksuit{ */
  /* background-image:url(images/tbt.jpg) alt="A photo of me on facebook"> */
/* } */
body {
    background-color: #c2c6b8;
    color: black;
     /* background-image: url("https://discourse-cdn-sjc1.com/business4/uploads/episodeinteractive/optimized/3X/b/2/b252dabdb6df2cef766266cf78f6887f4d75ca7f_1_690x408.jpg"); */
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0CvdrA0va6uk6eWlYnCd1n0fLBuqMuU85gnHUQavMqkXpsXJh");
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover;
}

h1 {
    color: red;
    text-align: center;

}

p {
    font-family: verdana;
    font-size: 20px;

}
ul>li{
  display: inline;
  text-transform:uppercase;
  float:right;
  padding:5px;
  color:white;
  background-color:white;
  color:black;
  text-decoration:none;
   }
h2{
  padding-top:110px;
}

img{
  column-rule-width:2px;
  width:380px;
  height:280px;
  /* float:left; */
}
.display{
  float: left;
}
.ol{
  padding-top:10px;
}
.h3{
  border: 3px solid black;
  width: 300px;
  height: 100px;
  overflow: auto;
}
img{
  float: left;
  /* padding-top: 10px; */
}
