/* .blacksuit{ */
  /* background-image:url(images/tbt.jpg) alt="A photo of me on facebook"> */
/* } */
body {
    /* background-color: lightblue; */
    background-image: url(<img border="0" alt="moringaschool" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTc2B84YB95GG6VFPq6_KUwsus7lYUyF-RHd-_bI_AlxrPS1KV" width="100" height="100">);
}

h1 {
    color: white;
    text-align: center;

}

p {
    font-family: verdana;
    font-size: 20px;
    color: red;
}
img{
  width: 250px;
  height: 300px;
  float: none;
}
ul>li{
  display: inline;
  text-transform:uppercase;
  float:right;
  padding: 18px;
}
