/* .blacksuit{ */
  /* background-image:url(images/tbt.jpg) alt="A photo of me on facebook"> */
/* } */
body {
    background-color: #c2c6b8;
    color: black;
     background-image: url("https://discourse-cdn-sjc1.com/business4/uploads/episodeinteractive/optimized/3X/b/2/b252dabdb6df2cef766266cf78f6887f4d75ca7f_1_690x408.jpg");
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover;
}

h1 {
    color: white;
    text-align: center;

}

p {
    font-family: verdana;
    font-size: 20px;
    /* color: red; */
}
ul>li{
  display: inline;
  text-transform:uppercase;
  float:right;
  padding:5px;
  color:white;
  background-color:white;
  color:black;
  text-decoration:none;
   }
h2{
  padding-top:110px;
}

img{
  column-rule-width:2px;
  width:380px;
  height:280px;
}
.images{
  float:right;
  padding-right:100px;

  /* column-width:500px; */
  display:block;
}
